# Gitignore for monorepo

# Secrets and Keys
*.key
*.key.pub
*.zip
*.sql
wallet/
lms_v2_backend/.env
lms_v2_backend/venv/
lms_v2_backend/uvicorn.log
lms_v2_backend/append.py
lms_v2_backend/query_db.py

# Python
__pycache__/
*.pyc

# Flutter/Dart
lmss2/.dart_tool/
lmss2/.packages
lmss2/build/
lmss2/web.tar.gz
lmss2/update_interceptors.py
remote_security.py
New Text Document.txt
old_php.tar.gz
